main {
  background-color:#C4C1A7;
}
header {
  background-color:7#FAB78;
}
footer {
  background-color:#FAB78;
}
h1 {
  color:#DAF58D;
}
body {
  
}

#banner {
  width:100%;
}

.principal{
  background: #CCCCCC;
  pading: 30px;
}

.titulo-principal {
  padding-left: 20px;
}

.titulo-cantralizado {
  text-align: center
}

p{
  text-align: center;
}

#missao {
  font-size: 20px
}

em strong {
  color: #FF))));
}

.itens {
  font-style: italic
}

.beneficios {
  background: #FFFFFF;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 155;
}

.imagembeneficios {
  width: 505;
}
